.home-container {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.home-text {
  color: rgb(245, 245, 245);
  text-align: center;
}
.home-link {
  text-decoration: none;
}
